*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}
body{
    background-color: black;
    color: aliceblue;
}
.bloc,.bloc2,.bloc3{
    width: 33%;
    font-size: 1.6rem;
}
h1{
    color: red;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}
section{
    display: flex;
    margin-top: 5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap:1.6rem;
}
input,select{
    padding: 0.5rem;
    width:80%;
}
input[type="submit"]{
    font-size: 1.6rem;
    background-color: transparent;
    color: aliceblue;
    width: 20%;
    border: 2px solid white;
    border-radius: 0.5rem;

}
input[type="submit"]:hover{
    font-size: 2rem;
    color:red;
    border: 2px solid red;
    width: 5em;
}
.resultat{
    margin: 1.6rem 0;
    span{
        color: red;
        font-style: italic;
    }
}
a{
    padding: 0 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    color:aliceblue;
    border: 2px solid white;
    border-radius: 0.5rem;
}
a:hover{
    font-size: 2rem;
    color:red;
    border: 2px solid red;
    width: 5em;
}